body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  .hero-section {
    background: #f79321; 
    color:white;
    padding: 40px 0;
    text-align: center;
    position: relative;
    border-bottom: #f79321 solid;
  }
  .hero-section h1 {
    font-size: 50px;
  }
  .hero-section p {
    font-size: 20px;
  }
  .hero-section .logo {
    position: absolute;
    top: 50px;
    left: 29%;
    height: 90px;
    width: 90px; 
   
  }
  .hero-section .btn-main {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
  }
  .hero-section .btn-main:hover {
    background-color: #333;
  }
  .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .gallery img:hover {
    transform: scale(1.05);
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .nav-pills .nav-link {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  .nav-pills .nav-link.active {
    color: white;
    background-color: #f79321;
    border-color:#f79321;
    font-weight: bold;
  }
  .footer {
    background-color: #f79321;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 10%;
  }